<div>
  <mat-form-field>
    <mat-label>New question:</mat-label>
    <input matInput type="text" #inputValue (keydown.enter)="createQuestion(inputValue.value)">
    <button mat-button *ngIf="inputValue.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="inputValue.value=''">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Verbose datepicker</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
</div>

<questions-days-editor (onQuestionsChange)="questionsChanged($event)" (onDeleteClick)="onDeleteClick($event)"
                       [questions]="questions$ | async" [editable]=editable></questions-days-editor>

