<chips-auto-complete [currentBuckets]="currentForm?.buckets"
                     [allBuckets]="buckets$ | async"
                     [bucketAdded]="bucketAdded"
                     [bucketRemoved]="bucketRemoved"></chips-auto-complete>

<div class="editor-description">{{currentForm?._id}}</div>
<div class="editor-navigator">
  <button mat-button color="primary" (click)="navigateTo('edit')">Editor</button>
  <button mat-button color="primary" (click)="navigateTo('answers')">Answers</button>
</div>

<router-outlet></router-outlet>
