<mat-form-field class="chips-input">
  <mat-chip-list class="mat-chip-list-wrapper" #dataList aria-label="Data selection">
    <mat-chip
      *ngFor="let bucket of currentBuckets"
      [removable]="removable"
      (removed)="remove(bucket._id)">
      {{bucket._id}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      #chipsInput
      [formControl]="chipsCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="dataList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let filteredBucket of filteredBuckets | async" [value]="filteredBucket">
      {{filteredBucket}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
