<form mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input matInput formControlName="name" required>
    <div></div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Course:</mat-label>
    <input matInput type="text" formControlName="course" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Week:</mat-label>
    <input matInput formControlName="week" required>
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
  <button mat-button [disabled]="!form.valid" (click)="closeDialog()" cdkFocusInitial>Ok</button>
</div>
