.chips-search {
  width: 90%;
}

.days-back-form-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 10px;
}
