:host {
  display: flex;
}

input {
  flex: 1;
  min-height: 30px;
  border-radius: 30px;
  outline: none;
}

.days-back-form-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 10px;
}
