:host {
  background-color: #222224;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;

  search-bar {
    width: 80%;
  }
}

.new-form-button {
  position: absolute !important;
  margin: 15px;
  bottom: 0;
  left: 0;
}


