.form-list {
  width: 25%;
  float: right;
  overflow: auto;
}

.form-item {
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
}
