<div>
  <div>
    <mat-form-field>
      <mat-label>New question:</mat-label>
      <input matInput type="text" #inputValue (keydown.enter)="createQuestion(inputValue.value)">
      <button mat-button *ngIf="inputValue.value" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue.value=''">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div cdkDropList class="question-list" (cdkDropListDropped)="drop($event)">
    <mat-card class="question-item" *ngFor="let question of questions" cdkDrag>
      <span>{{question.text}}</span>
      <button mat-icon-button color="primary" (click)="onDeleteClick(question)" aria-label="remove a question">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-card>
  </div>
</div>


