<mat-toolbar class="top-bar">
  <div>
    <span>ניהול </span>
    <span *ngIf="(isPageTypeIsForm$ | async)">תחק"שים</span>
    <span *ngIf="!(isPageTypeIsForm$ | async)">מאגרים</span>
  </div>

  <div dir="rtl">
    <mat-form-field appearance="fill">
      <mat-label>מחזור</mat-label>
      <mat-select [(value)]="selectedCourse">
        <mat-option *ngFor="let course of (courseOptions$ | async)" [value]="course">
          {{course}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>שבוע</mat-label>
      <mat-select [(value)]="selectedWeek">
        <mat-option *ngFor="let week of (weekOptions$ | async)" [value]="week">
          {{week}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary"
            *ngIf="!(isPageTypeIsForm$ | async)"
            [routerLink]="formsURL">מעבר לתחקש"ים
    </button>
    <button mat-raised-button color="primary"
            *ngIf="(isPageTypeIsForm$ | async)"
            [routerLink]="bucketsURL">מעבר למאגרים
    </button>
  </div>


</mat-toolbar>


