@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-gray);

$my-theme: mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($my-theme);

html, body, app-root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Tahoma, Geneva, sans-serif;
  direction: rtl;
}

* {
  box-sizing: border-box;
}
